{% trans_default_domain 'UserAdmin' %}

{% form_theme addAdult
    'form/kookaburra_form.html.twig'
%}

<h3 id="view_adults">{{ 'View Adults'|trans }}<button onclick="toggleAdultForm()" type="button" id="add_adult_button"
                                                      title="{{ addAdult.vars.valid is same as (true) ? 'Add'|trans({}, 'messages') : 'Close'|trans({}, 'messages') }}"
                                                      style="float: right;">
        <span id="add_adult_button_span" class="fas {{ addAdult.vars.valid is same as (true) ? 'fa-plus-circle' : 'fa-times-circle'}} fa-fw fa-1-5x text-gray-700" />
    </button></h3>
<div id="add_adult_form" class="{{ addAdult.vars.valid is same as (true) ? 'hidden' : ''}}">
    {{ form_start(addAdult) }}
        <table class="smallIntBorder fullWidth standardForm relative">
            <tbody>
                <tr id="" class="break flex flex-col sm:flex-row justify-between content-center p-0">
                    <th class="flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0 " colspan="2">
                        <h3>{{ 'Add Adult'|trans }}</h3>
                    </th>
                </tr>
                {{ form_row(addAdult.person) }}
                {{ form_row(addAdult.comment) }}
                {{ form_row(addAdult.childDataAccess) }}
                {{ form_row(addAdult.contactPriority) }}
                {{ form_row(addAdult.contactCall) }}
                {{ form_row(addAdult.contactSMS) }}
                {{ form_row(addAdult.contactEmail) }}
                {{ form_row(addAdult.contactMail) }}
                {{ form_row(addAdult.family, {value: family.id}) }}
                {{ form_row(addAdult.submit) }}
            </tbody>
        </table>
    {{ form_end(addAdult) }}
</div>
<script>
    function toggleAdultForm(){
        var element = document.getElementById('add_adult_form')
        element.classList.toggle('hidden')
        var span = document.getElementById('add_adult_button_span')
        span.classList.toggle('fa-plus-circle')
        span.classList.toggle('fa-times-circle')
        var button = document.getElementById('add_adult_button')
        if (element.classList.contains('hidden')) {
            button.title = "{{ 'Add'|trans({}, 'messages') }}"
        } else {
            button.title = "{{ 'Close'|trans({}, 'messages') }}"
        }
    }
</script>
<section id="adultPaginationContent"></section>