{% trans_default_domain 'UserAdmin' %}


{% form_theme addChild
    'form/kookaburra_form.html.twig'
%}

<h3 id="view_children">{{ 'View Children'|trans }}<button onclick="toggleChildForm()" type="button" title="{{ 'Add'|trans({}, 'messages') }}" style="float: right;"><span class="fas fa-plus-circle fa-fw fa-1-5x text-gray-700" /></button></h3>

<div id="add_child_form" class="hidden">
    {{ form_start(addChild) }}
        <table class="smallIntBorder fullWidth standardForm relative">
            <tbody>
                <tr id="" class="break flex flex-col sm:flex-row justify-between content-center p-0">
                    <th class="flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0 " colspan="2">
                        <h3>{{ 'Add Child'|trans }}</h3>
                    </th>
                </tr>
                {{ form_row(addChild.person) }}
                {{ form_row(addChild.comment) }}
                {{ form_row(addChild.submit) }}
            </tbody>
        </table>
    {{ form_end(addChild) }}

</div>
<script>
    function toggleChildForm(){
        var element = document.getElementById('add_child_form')
        element.classList.toggle('hidden')
    }
</script>
<section id="childPaginationContent"></section>