{% trans_default_domain 'UserAdmin' %}

{% form_theme relationship
    'form/kookaburra_form.html.twig'
%}

<table class="smallIntBorder fullWidth standardForm relative striped">
    {{ form_start(relationship) }}
    <tr class="break">
        <td class="px-2 border-b-0 sm:border-b border-t-0" colspan="3">
            <h3 id="relationships">{{ 'Relationships'|trans }}</h3>
        </td>
    </tr>

    {% for item in relationship.relationships %}
        <tr>
            <td class="px-2 border-b-0 sm:border-b border-t-0" style="text-align: right;">
                {{ '{name} is the'|trans({'{name}': item.adult.vars.data.formatName({style: 'formal'})}) }}
                {{ form_widget(item.adult) }}
            </td>
            <td width="15%">
                {{ form_widget(item.relationship) }}
                {{ form_widget(item.family, {value: family.id}) }}
            </td>
            <td class="px-2 border-b-0 sm:border-b border-t-0">
                {{ ' of {name}'|trans({'{name}': item.child.vars.data.formatName({style: 'long', preferredName: false})}) }}
                {{ form_widget(item.child) }}
            </td>
        </tr>
    {% endfor %}
    {% do relationship.relationships.setRendered() %}
    <tr class="break">
        <td class="px-2 border-b-0 sm:border-b border-t-0" colspan="{{ family.children.count + 1 }}">
            {{ form_widget(relationship.submit) }}
        </td>
    </tr>


    {{ form_end(relationship) }}
</table>