{% trans_default_domain 'UserAdmin' %}

{% extends 'kookaburra.html.twig' %}

{% form_theme form
    'form/kookaburra_form.html.twig'
%}

{% set module = {'baseURL': 'user_admin', 'crumbs': [{uri: 'user_admin__manage', name: 'People Admin'}], title: 'Manage Permissions', domain: 'UserAdmin'} %}
{% set breadcrumbs = 'new' %}
{% set moduleName = 'UserAdmin' %}

{% block content %}
    <h3>{{ 'Filter'|trans }}</h3>
    {{ form_start(form) }}
        <table class="noIntBorder fullWidth relative">
            <tbody>
                {{ form_row(form.module) }}
                {{ form_row(form.role) }}
                <tr>
                    <td colspan="2">
                        {{ form_widget(form.submit) }}
                        {{ form_widget(form.clear) }}
                    </td>
                </tr>
            </tbody>
        </table>
    {{ form_end(form) }}
    <h3>{{ 'Action Permissions'|trans }}</h3>
    <table class="mini striped columnHighlight fullWidth">
        <thead>
            <tr>
                <th class="text-xxs sm:text-xs p-2 sm:py-3">
                    <div style="width: 350px;">{{ 'Action'|trans({},'messages') }}</div>
                </th>
                {% for role in roles %}
                    {% if search.role is same as(null) or search.role is same as(role) %}
                        <th class="text-xxs sm:text-xs p-2 sm:py-3 text-center">
                            <span title="{{ role.name|trans }}">{{ role.nameShort }}</span>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for perm in permissions %}
                <tr>
                    <td><span title="{{ perm.description|trans }}">{{ perm.name|trans }}</span></td>
                    {% for role in roles %}
                        {% set toggleClass = 'fas fa-thumbs-down fa-fw text-gray-700' %}
                        {% set buttonClass = 'btn-sm secondary' %}
                        {% if perm.roles is defined and role in perm.roles %}
                            {% set toggleClass = 'fas fa-thumbs-up fa-fw text-green-700' %}
                            {% set buttonClass = 'btn-sm success' %}

                        {% endif %}
                        {% if search.role is same as(null) or search.role is same as(role) %}
                            <td>
                                <div class="flex-1 relative text-center">
                                    <button class="{{ buttonClass }}" title="{{ 'Toggle Permission'|trans }}" type="button" onclick="window.open('{{ path('user_admin__permission_toggle', {role: role.id, act: perm.id}) }}','_self')"><span class="{{ toggleClass }}"/></button>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
